﻿@page "/"

<PageTitle>Weather forecast</PageTitle>

@using blazor_frontend.Data
@using blazor_frontend.Models
@using System.Collections.ObjectModel
@using System.Reactive
@inject ReactiveTransactionController ReactiveTransactionController
@inject ILogger<Transactions> _logger


@if (!string.IsNullOrEmpty(_user.Iban))
{
    <div class="card">
        <h4 class="card-header">Hello, @_user.Iban</h4>
        <div class="card-body">
            <button class="btn btn-primary" @onclick="Logout">Logout</button>
        </div>
    </div>
    @if (_transactions == null)
    {
        <div class="card">
            <h4 class="card-header">Transactions</h4>
            <div class="card-body">
                <em>Loading...</em>
            </div>
        </div>
    }
    else
    {
        <div class="pt-5 pb-5"></div>
        <div class="card">
            <h4 class="card-header">Transactions</h4>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Creditor</th>
                        <th>Debtor</th>
                        <th>Describtion</th>
                        <th>ExecutionDate</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var transaction in _transactions)
                    {
                        <tr>
                            <td>@transaction.Amount.ToString()</td>
                            <td>@transaction.CreditorIban</td>
                            <td>@transaction.DebtorIban</td>
                            <td>@transaction.Description</td>
                            <td>@transaction.ExecutionDate.ToString()</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (_payments == null)
    {
        <div class="card">
            <h4 class="card-header">Payments</h4>
            <div class="card-body">
                <em>Loading...</em>
            </div>
        </div>
    }
    else
    {
        <div class="container-fluid pt-5">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">Create Payment</h5>
                        <div class="card-body">
                            <EditForm Model="@_user" OnSubmit="@SubmitPayment">
                                <DataAnnotationsValidator />
                                <div class="form-group">
                                    <label>DebtorIban</label>
                                    <InputText @bind-Value="_payment.DebtorIban" class="form-control" />
                                    <ValidationMessage For="@(() => _payment.DebtorIban)" />
                                </div>
                                <div class="form-group">
                                    <label>Amount</label>
                                    <InputNumber @bind-Value="_payment.Amount" type="number" min="0.00" max="10000.00" step="0.01" class="form-control" />
                                    <ValidationMessage For="@(() => _payment.Amount)" />
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <InputText @bind-Value="_payment.Description"  class="form-control" />
                                    <ValidationMessage For="@(() => _payment.Description)" />
                                </div>
                                <button class="btn btn-primary p-2">Submit</button>
                            </EditForm>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">Payments</h5>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Amount</th>
                                    <th>Creditor</th>
                                    <th>Debtor</th>
                                    <th>Describtion</th>
                                    <th>State</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var payment in _payments)
                                {
                                    <tr>
                                        <td>@payment.Amount.ToString()</td>
                                        <td>@payment.CreditorIban</td>
                                        <td>@payment.DebtorIban</td>
                                        <td>@payment.Description</td>
                                        <td>@payment.State</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
} else {
        <div class="card">
            <h4 class="card-header">Login</h4>
            <div class="card-body">
                <EditForm Model="@_user" OnValidSubmit="@Login">
                    <div class="form-group pt-2">
                        <label>Your IBAN</label>
                        <DataAnnotationsValidator />
                        <InputText id="iban" @bind-Value="_user.Iban" class="form-control"/>
                    </div>
                    <div class="pt-2">
                        <ValidationSummary />
                    </div>
                    <div class="pb-2 pt-2">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </EditForm>
            </div>
        </div>
}

@code {
    private ObservableCollection<Transaction> _transactions;
    private ObservableCollection<Payment> _payments;

    private Payment _payment = new Payment();
    private User _user = new User();
    
    private void Login()
    {
        try
        {
            
            ReactiveTransactionController.SetUser(_user);

            _transactions = ReactiveTransactionController.GetObservableTransaction();
            _transactions.CollectionChanged += OnCollectionChanged;
            
            _payments = ReactiveTransactionController.GetObservablePayment();
            _payments.CollectionChanged += OnCollectionChanged;
            
            _logger.LogInformation($"{DateTime.Now} {_user.Iban} logged in.");
        }
        catch (Exception ex)
        {
            StateHasChanged();
        }
    }
    
    private void Logout()
    {
        try
        {
            ReactiveTransactionController.Dispose();
            _logger.LogInformation($"{DateTime.Now} {_user.Iban} logged out.");
            _user.Iban = string.Empty;
        }
        catch (Exception ex)
        {
            StateHasChanged();
        }
    }

    private async void SubmitPayment()
    {
        _payment.CreditorIban = _user.Iban;
        var paymentId = await ReactiveTransactionController.CreatePaymentAsync(_payment);
        _payment.Id = paymentId;
        //ReactiveTransactionController.SetPayment(_payment);
    }
    
    protected override async Task OnInitializedAsync()
    {
        //Login();
    }

    private async void OnCollectionChanged(object sender, EventArgs e)
    {
        await InvokeAsync(() =>
            StateHasChanged()
            );
    }
}